./Gary_Llama/llama.swiftui/llama.swiftui/Resources/models/Qwen2-1.5B-Instruct.Q4_K_S.gguf
./Gary_Llama/Qwen2-1.5B-Instruct.Q4_K_S.gguf
./llama.cpp/ggml/src/kompute/.git
./Gary_Llama/llama.cpp/.git
./Gary_Llama/llama.swiftui/llama.cpp/.git
./llama.cpp/tests/.gitignore
./llama.cpp/examples/batched.swift/.gitignore
./llama.cpp/examples/llama.swiftui/llama.swiftui/Resources/models/.gitignore
./llama.cpp/examples/llama.swiftui/.gitignore
./llama.cpp/examples/llama.android/app/.gitignore
./llama.cpp/examples/llama.android/.gitignore
./llama.cpp/examples/llama.android/llama/.gitignore
./llama.cpp/examples/main-cmake-pkg/.gitignore
./llama.cpp/ggml/.gitignore
./llama.cpp/ggml/src/kompute/.gitignore
./llama.cpp/ggml/src/kompute/examples/neural_network_vgg7/.gitignore
./llama.cpp/ggml/src/kompute/examples/godot_examples/custom_module/kompute_summator/include/.gitignore
./llama.cpp/ggml/src/kompute/examples/godot_examples/custom_module/.gitignore
./llama.cpp/ggml/src/kompute/examples/godot_examples/gdnative_shared/.gitignore
./llama.cpp/ggml/src/kompute/examples/godot_examples/.gitignore
./llama.cpp/ggml/src/kompute/examples/godot_logistic_regression/custom_module/kompute_model_ml/include/.gitignore
./llama.cpp/ggml/src/kompute/examples/godot_logistic_regression/custom_module/.gitignore
./llama.cpp/ggml/src/kompute/examples/godot_logistic_regression/gdnative_shared/.gitignore
./llama.cpp/ggml/src/kompute/examples/godot_logistic_regression/.gitignore
./llama.cpp/ggml/src/kompute/examples/android/android-simple/.gitignore
./llama.cpp/ggml/src/kompute/.github
./llama.cpp/ggml/src/kompute/.git
./Gary_Llama/llama.cpp/tests/.gitignore
./Gary_Llama/llama.cpp/.gitmodules
./Gary_Llama/llama.cpp/.gitignore
./Gary_Llama/llama.cpp/examples/batched.swift/.gitignore
./Gary_Llama/llama.cpp/examples/llama.swiftui/llama.swiftui/Resources/models/.gitignore
./Gary_Llama/llama.cpp/examples/llama.swiftui/.gitignore
./Gary_Llama/llama.cpp/examples/llama.android/app/.gitignore
./Gary_Llama/llama.cpp/examples/llama.android/.gitignore
./Gary_Llama/llama.cpp/examples/llama.android/llama/.gitignore
./Gary_Llama/llama.cpp/examples/main-cmake-pkg/.gitignore
./Gary_Llama/llama.cpp/.github
./Gary_Llama/llama.cpp/.git
./Gary_Llama/llama.cpp/ggml/.gitignore
./Gary_Llama/llama.swiftui/llama.cpp/tests/.gitignore
./Gary_Llama/llama.swiftui/llama.cpp/.gitmodules
./Gary_Llama/llama.swiftui/llama.cpp/.gitignore
./Gary_Llama/llama.swiftui/llama.cpp/examples/batched.swift/.gitignore
./Gary_Llama/llama.swiftui/llama.cpp/examples/llama.swiftui/llama.swiftui/Resources/models/.gitignore
./Gary_Llama/llama.swiftui/llama.cpp/examples/llama.swiftui/.gitignore
./Gary_Llama/llama.swiftui/llama.cpp/examples/llama.android/app/.gitignore
./Gary_Llama/llama.swiftui/llama.cpp/examples/llama.android/.gitignore
./Gary_Llama/llama.swiftui/llama.cpp/examples/llama.android/llama/.gitignore
./Gary_Llama/llama.swiftui/llama.cpp/examples/main-cmake-pkg/.gitignore
./Gary_Llama/llama.swiftui/llama.cpp/.github
./Gary_Llama/llama.swiftui/llama.cpp/.git
./Gary_Llama/llama.swiftui/llama.cpp/ggml/.gitignore
./Gary_Llama/llama.swiftui/llama.swiftui/Resources/models/.gitignore
./Gary_Llama/llama.swiftui/.gitignore